<template>
  <div id="app">
    <div class="app__scene">
      <v3d-scene @tick="tick">
        <template v-slot:default="{ width, height }">

          <!-- Camera & renderer -->
          <v3d-perspective-camera :position="{ x: 0, y: 0, z: 100 }" :aspect-ratio="width/height">
            <v3d-web-gl-renderer />
          </v3d-perspective-camera>

          <!-- Physics -->
          <v3d-physics-simulation>

            <v3d-physics-body
              type="sphere"
              :move="true"
              :size="{ x: 5, y: 5, z: 5 }"
              :restitution="0.9"
              :initial-position="{ x: 0, y: 25, z: 0 }"
            >
              <template v-slot:default="{ size, position }">
                <v3d-sphere :color="0xff0000" :position="position" :radius="size.x" />
              </template>
            </v3d-physics-body>

            <v3d-physics-body
              :size="{ x: 10, y: 10, z: 10 }"
              :initial-position="{ x: 0, y: -25, z: 0 }"
            >
              <template v-slot:default="{ size, position }">
                <v3d-box :color="0x0000ff" :position="position" :size="size" />
              </template>
            </v3d-physics-body>

          </v3d-physics-simulation>

          <!-- Etc. -->
          <!-- <v3d-cube :position="cubePosition" :rotation="cubeRotation" /> -->
          <!-- <v3d-gltf-model src="test-models/box.glb" /> -->
        </template>
      </v3d-scene>
    </div>
  </div>
</template>

<script>
import { components } from '@/lib/index.js'

export default {
  name: 'app',

  components,

  data () {
    return {
      cubePosition: { x: 0, y: 0, z: 0 },
      cubeRotation: { x: 0, y: 0, z: 0 }
    }
  },

  methods: {
    tick () {
      const now = performance.now()

      this.cubePosition.x = Math.sin(now/200) * 25
      this.cubePosition.y = Math.cos(now/200) * 25
      this.cubePosition.z = Math.sin(now/1000) * 50

      this.cubeRotation.x += this.$v3d.toRad(1)
      this.cubeRotation.y += this.$v3d.toRad(1)
      this.cubeRotation.z += this.$v3d.toRad(1)
    }
  }
}
</script>

<style lang="sass">
body
  padding: 0
  margin: 0

#app
  position: relative
  width: 100%
  min-height: 100vh
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.app__scene
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100vh
</style>
