<template>
  <div class="demo-scene">
    <v3d-web-gl-renderer
      :clear-color="0xCCCCCC"
      @ready="runProgram"
    />
  </div>
</template>

<script>
import program from '@/demo-program.js'
import { components, mixins } from '@/lib/index.js'

export default {
  program,

  mixins: [
    mixins.scene
  ],

  components,

  methods: {
    runProgram () {
      this._program.run()
    }
  }
}
</script>

<style lang="sass">
.demo-scene
  position: relative
  font-size: 0
  width: 100%
  height: 100%
  overflow: hidden
</style>
