<template>
  <div id="app">
    <div class="app__scene">
      <demo-scene />
    </div>
  </div>
</template>

<script>
import DemoScene from '@/DemoScene.vue'

export default {
  components: {
    DemoScene
  }
}
</script>

<style lang="sass">
body
  padding: 0
  margin: 0

#app
  position: relative
  width: 100%
  min-height: 100vh
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.app__scene
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100vh
</style>
