<template>
  <canvas ref="canvas" @click="click" />
</template>

<script>
import { WebGLRenderer, Vector3, Raycaster, Mesh } from 'three'

export default {
  inject: [
    'v3dScene'
  ],

  props: {
    alpha: {
      type: Boolean,
      default: false
    },

    antialias: {
      type: Boolean,
      default: true
    },

    clearColor: {
      type: Number,
      default: 0xFFFFFF
    },

    clearAlpha: {
      type: Number,
      default: 1
    },

    pixelRatio: {
      type: Number,
      default: window.devicePixelRatio
    }
  },

  data () {
    return {
      ready: false,
      width: 1,
      height: 1,

      // event handlers
      resizeHandler: undefined,
      resizeDebounce: null
    }
  },

  mounted () {
    if (!process.browser) return

    // Create the renderer
    this.createRenderer()

    // Bind global event listeners
    window.addEventListener('resize', this.resizeHandler = this.resize.bind(this))

    // Get ready
    this.$nextTick(() => {
      this.ready = true
      this.$emit('ready')
    })
  },

  beforeDestroy () {
    window.removeEventListener('resize', this.resizeHandler)
  },

  methods: {
    createRenderer () {
      const { canvas } = this.$refs
      const { width, height } = this.$parent.$el.getBoundingClientRect()
      const { alpha, antialias, clearColor, clearAlpha, pixelRatio } = this

      const renderer = new WebGLRenderer({ canvas, alpha, antialias })
      renderer.setSize(width, height)
      renderer.setClearColor(clearColor, clearAlpha)
      renderer.setPixelRatio(pixelRatio)

      this.v3dScene._program.renderer = renderer
      this._renderer = renderer
    },

    resize () {
      clearTimeout(this.resizeDebounce)

      this.resizeDebounce = setTimeout(() => {
        const brect = this.$parent.$el.getBoundingClientRect()

        this._renderer.setSize(brect.width, brect.height)

        this.$emit('resize', brect)
      }, 200)
    },

    click (evt) {
      evt.preventDefault()

      const mx = (evt.clientX/window.innerWidth)*2-1
      const my = -(evt.clientY/window.innerHeight)*2+1

      const mouse = new Vector3(mx, my, 1)

      const scene = this.v3dScene._program.scene
      if (!scene) return

      const camera = this.v3dScene._program.camera
      if (!camera) return

      const raycaster = new Raycaster()
      raycaster.setFromCamera(mouse, camera)

      let children = []
      const findChildren = (parent) => {
        if (!parent.children) return

        parent.children.forEach((child) => {
          if (child instanceof Mesh) children.push(child)
          else findChildren(child)
        })
      }
      findChildren(scene)

			const intersects = raycaster.intersectObjects(children, true)

      if (intersects.length > 0) {
        const intersected = intersects[0].object
        if (!intersected.vueComponent) return

        evt.intersection = intersects[0]

        this.program.click(evt)
			}
    }
  }
}
</script>
